service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null &&
      (
      request.auth.uid =="fKG6CIDKolb3DLlY250dBCY0jl32" || //Bartosz
      request.auth.uid =="MkW1mniRrMVnCybKsZ4eBIIzOJf1" || //Kissonion24
      request.auth.uid =="Ynul02NWjmVBUfgbluuDQ9Xqhsc2"    //Ewa
      )
    }
  }
}